<!DOCTYPE html>
<html lang="en">
    <% include head.ejs %>
    <body>
        <% include navbar.ejs %>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="jumbotron">
                      <h1>Welcome to Pay&Repay</h1>
                      <p>...</p>
                      <p><a class="btn btn-primary btn-lg" href="https://github.com/charlie890414/pay-repay" role="button">View code</a></p>
                    </div>
                </div>
            </div>
        </div>

    </body>
    <% include footer.ejs %>
</html>
